* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5em;
}

h1 {
    font-family: "Roboto", sans-serifl;
    font-weight: 900;
    color: #4abdb3;
    font-size: 50px;
    line-height: 2rem;
}

ul {
    list-style: none;
}

footer {
    background-color:#4abdb3;
}

footer p {
    text-align: center;
    color: white;
}

.main-menu__list-item {
    display: inline-block;
    padding: 10px;
    margin-top: 5px;

}

.social-icons__list-item {
    display: inline-block;
    padding-top: 10px;
}

.site-logo {
   max-width: 50px;
}

.site-logo img {
    max-width: 100%;
}

.site-header {
    background-color: #4abdb3;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-evenly;

}

.site-header li a {
    color: white;
    text-decoration: none;
}

.menu {
    flex-direction: inline;
    justify-content: space-between;
}

.container {
    background-color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    max-width: 100%;
}

.about-me {
    padding-bottom: 15px;
}

.about-me__name, .edu__name, .ref__name, .employment__name {
    font-size: 20px;
    font-weight: bold;
}

.employment {
    padding-bottom: 15px;
}

.edu {
    padding-bottom: 15px;
}

.ref {
    padding-bottom: 15px;
}

.flex-img {
    /* border: solid 5px orange; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex-img img {
    max-width: 100%;
}

.flex-greet {
    margin-bottom: 10px;
}
.flex-blurb {
    /* border: solid 5px purple; */
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
}

.flex-title {
    /* margin-bottom: 5px; */
    text-align: center;
    padding: 15px;
}
@media screen and (max-width: 768px) {
    .social-icons {
        display: none;
    }
}
